.container {
  display: flex;
  align-items: flex-start;
}
.list {
  float: left;
  margin: 5px;
  padding: 3px;
  min-width: 150px;
  max-width: 200px;
  box-shadow: 0 0 3px black;
}
.list-title {
  background-color: rgb(184, 184, 184);
  border-radius: 1px;
  padding: 2px;
  margin-bottom: 5px;
}
.list-item {
  background-color: rgb(233, 232, 232);
  box-shadow: 0 0 1px black;
  padding: 2px;
  margin: 5px 0;
  width: 100%;
  overflow: hidden;
}

.list-input {
  width: 100%;
}

.list-textbox {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 12px 0 0;
}

.list-text {
  visibility: inherit;
}

.list-removebutton {
  position: absolute;
  right: 1px;
  font-weight: bold;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.list-removebutton:hover {
  box-shadow: 0 0 1px rgb(88, 0, 0);
  color: red;
}
